

<!-- Boostrap CSS -->
<link rel="stylesheet" href="/css/lib/bootstrap.min.css">

<!-- Jquery -->
<script src="/js/lib/jquery-3.1.1.slim.min.js"></script>

<!-- Tether (dependecy of Bootstrap) -->
<script src="/js/lib/tether.min.js"></script>

<!-- Boostrap JS -->
<script src="/js/lib/bootstrap.min.js"></script>

<!-- Our CSS -->
<link rel="stylesheet" href="/css/style.css" />