<!DOCTYPE html>
<html>
{% include 'head.njk' %}

<body>
	
	<!-- Navbar -->
	<nav class="navbar navbar-default">
		<div class="container-fluid">
			<div class="navbar-header">
			  <a class="navbar-brand" href="index.html">Uber Impact</a>
			</div>

			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav">
				</ul>
				<ul class="nav navbar-nav navbar-right">
			    	{% if profile_pic %}
			    		<li><img src="{{ profile_pic }}" style="width:50px;height:50px;"></li>
			    	{% endif %}
			    	{% if name %}
			   			<li><p>{{ name }}</p></li>
					{% else %}
			    		<li><a class="login" href="/login">Login</a></li>
					{% endif %}
				</ul>
			</div>
		</div>
	</nav>

	<div class="page">
		<div class="container">
			<div class="jumbotron" >
				  <h1 class="title" style="margin-left: 30px;">Summary</h1>
				  <p>...</p>
			</div>
		</div>


		<div class="container">
			<div class="jumbotron">
			  <h1 class="title" style="margin-left: 30px;">Trip on (blank)</h1>
			  <p>...</p>
			</div>
		</div>

		<div class="container">
			<div class="jumbotron">
			  <h1 class="title" style="margin-left: 30px;">Trip on (blank)</h1>
			  <p>...</p>
			</div>
		</div>

		<div class="container">
			<ul style="list-style-type:none">
				<li><img src="http://www.conceptdraw.com/How-To-Guide/picture/Percentage-pie-chart-DA-determinations.png" style="width:500px;height:300px;"></li>
			</ul>
		</div>
		
	</div>
</body>
</html>
