<!DOCTYPE html>
<html>
<head>
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

	<script
  src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous"></script>

	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</head>
<div class="page">
<head>
	<nav class="navbar navbar-default">
	  <div class="container-fluid">
	    <div class="navbar-header">
	      <a class="navbar-brand" href="index.html">Uber Impact</a>
	    </div>

	    <!-- Collect the nav links, forms, and other content for toggling -->
	    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
	      <ul class="nav navbar-nav">
	      </ul>
	      <ul class="nav navbar-nav navbar-right">
	        <li>
	        {% if profile_pic %}
	        	<img src="{{ profile_pic }}" style="width:50px;height:50px;"></li>
	        {% endif %}
	        {% if logged_in %}
	       		<li><p>{{ username }}</p></li>
	        {% else %}
	        	<li><a class="login" href="/auth/uber">Login</a></li>
	        {% endif %}
	      </ul>
	    </div><!-- /.navbar-collapse -->
	  </div><!-- /.container-fluid -->
	</nav>
</head>

<style type="text/css">
	
	.container .jumbotron {
	padding-left: 0px;
	padding-top: 1px; 
	}

	.jumbotron .title{
		font-size: 40px;
		color: black;
		font-family: Georgia, serif;
	}
	.container-fluid{
		background-color: #e6e6e6;
	}
	.navbar-header .navbar-brand{
		font-family: "Times New Roman", Times, serif;
		font-size: 30px;
		color: #000000;
	}
</style>



	<body>

	<div class="container">
		<div class="jumbotron" >
			  <h1 class="title" style="margin-left: 30px;">Summary</h1>
			  <p>...</p>
		</div>
	</div>
	<div class="container">
		<div class="jumbotron">
		  <h1 class="title" style="margin-left: 30px;">Trip on (blank)</h1>
		  <p>...</p>
		</div>
	</div>
	<div class="container">
		<div class="jumbotron">
		  <h1 class="title" style="margin-left: 30px;">Trip on (blank)</h1>
		  <p>...</p>
		</div>
	</div>

	<div class="container">
		<ul style="list-style-type:none">
			<li><img src="http://www.conceptdraw.com/How-To-Guide/picture/Percentage-pie-chart-DA-determinations.png" style="width:500px;height:300px;"></li>
		</ul>
		
	</div>

	</body>
</div>
<style type="text/css">
	.page {
		background-color: ;
	}
</style>
</html>
