<!DOCTYPE html>
<html>

<head>
	{% include 'head.njk' %}
	<title>Gecko</title>
	<link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
	<link href="css/lib/chart.css" rel="stylesheet">
</script>
</head>
<body>

<style type="text/css">
	body {
		font-family: 'Montserrat', sans-serif;
	}
	.big {
		font-size: 72px;
		margin-left: auto;
	}
	.header {
		font-size: 50px;
		border-bottom: 1px solid #999;
		margin: 0 0 20px 0;
		padding: 0 0 5px 0;  
		font-weight: normal;
		color: #333;
		text-align: center;
	}
	.left {
		border-right: solid;
	}
	.trip {
		background-color: #f5f5f5;
		margin-top: 10px;
		margin-bottom: 10px;
		border-radius: 5px;
		border-width: 1px;
		border-color: #000;
	}
</style>

	{% if user %}
	<div class="row">
		<div class="col-md-4">
			<h1 class="header">Hi {{user.first_name}}</h1>
		</div>
		<div class="col-md-4">
			
		</div>
		<div class="col-md-4">
			<a href="/logout"><h1 class="header">Logout</h1></a>
		</div>
	</div>
	<div class="row">
		<div class="col-offset-md-4 col-md-8 text-center header"> 
			Total Trips
		</div>
	</div>
	<div class="row">
		<div class="big col-md-6 left text-center">
			{{ user.trips.count }} Trips
		</div>

		<div class="big col-md-6 text-center">
			{{user.total_distance | int }} Miles
		</div>
	</div>
	<div class="row">
		<div class="col-md-8 col-md-offset-2">
			{% include 'barchart.njk' %}
		</div>
		<script type="text/javascript" src="js/lib/chart.js"></script>
	</div>
	{% for trip in user.trips.history %}
	<div class="row">
		<div class="col-md-8 col-md-offset-2 trip">
			<h1>{{ trip.start_city.display_name }} Trip</h1>
			<p>You travelled {{ trip.distance | round(2) }} miles.</p>
			<p>On {{ trip.start_time | date('MMMM Do YYYY, h:mm:ss a') }}.</p>
			<p>You took a {{ trip.description.display_name }} product.</p>
			<img src="{{ trip.description.image }}">
		</div>
	</div>
	{% else %}
					<h1>No Trip Data!</h1>
	{% endfor %}
	{% else %}
		<h1 style="font-size: 200px">Please <a href="/login">Login</a></h1>
	{% endif %}


</body>
</html>