{% extends "base.html" %}

	{% block body %}
		{% if user %}
		
			<div class="container">
				<div class="col-md-4 offset-md-4">
					<div class="thumbnail">
						<img src="{{ user.picture }}" width="200px">
						<div class="caption">
							<h3>{{ user.first_name }} {{ user.last_name }}</h3>
							<p>{{ user.email }}</p>
							<p><a href="/delete" class="btn btn-danger" role="button">Delete Account</a></p>
						</div>
					</div>
				</div>
			</div>

		{% else %}
			<h1 style="font-size: 200px">Please <a href="/login">Login</a></h1>
		{% endif %}
	{% endblock %}