<html>
<head>
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

	<script
  src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous"></script>

	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</head>
<body>

	<div class="col-md-4 col-md-offset-4">

		<h1>Search EPA Database:</h1>

		<form action="search" class="form-horizontal">
			<div class="form-group">
				<label for="year" class="col-sm-2 control-label">Year</label>
				<div class="col-sm-10">
					<input type="number" name="year" class="form-control" id="year" placeholder="Year">
				</div>
			</div>
			<div class="form-group">
				<label for="make" class="col-sm-2 control-label">Make</label>
				<div class="col-sm-10">
					<input type="text" name="make" class="form-control" id="make" placeholder="Make">
				</div>
			</div>
			<div class="form-group">
				<label for="model" class="col-sm-2 control-label">Model</label>
				<div class="col-sm-10">
					<input type="text" name="model" class="form-control" id="model" placeholder="Model">
				</div>
			</div>
			<button type="submit" class="btn btn-primary">Submit</button>
		</form>

		{% if year %}
			<h3>Year: <code>{{ year }}</code></h3>
		{% endif %}
		{% if make %}
			<h3>Make: <code>{{ make }}</code></h3>
		{% endif %}
		{% if model %}
			<h3>Model: <code>{{ model }}</code></h3>
		{% endif %}

		{% if models %}
			<pre><code>{{ models }}</code></pre>
		{% endif %}

		{% if mpg %}
			<pre><code>{{ mpg }}</code></pre>
		{% endif %}
	</div>

</body>

</html>