<!-- Trips Summary -->
<div class="row">
	<div class="col-md-8 offset-md-2 text-center"> 
		<div class="header">Total Trips</div>
	</div>
</div>
<div class="row">
	<div class="col-md-4 offset-md-2 left text-center">
		<div class="big">
			{{ user.trips.count }} Trips
		</div>
	</div>
	<div class="col-md-4 text-center">
		<div class="big">
			{{user.total_distance | int }} Miles
		</div>
	</div>
</div>

<!-- Cost Summary -->
<div class="row">
	<div class="col-md-8 offset-md-2 text-center"> 
		<div class="header">Cost</div>
	</div>
</div>
<div class="row">
	<div class="col-md-4 offset-md-2 left text-center">
		<div class="big">
			Total <br><span style="color:green;">$ {{ user.total_cost | round(2) }}</span>
		</div>
	</div>
	<div class="col-md-4 text-center">
		<div class="big">
			Average <br><span style="color:green;">$ {{ (user.total_cost/user.trips.count) | round(2) }}</span>
		</div>
	</div>
</div>